apiVersion: apps/v1
kind: Deployment
metadata:
  name: web
  namespace: todo-lab
spec:
  replicas: 1
  selector:
    matchLabels:
      app: web
  template:
    metadata:
      labels:
        app: web
    spec:
      containers:
        - name: web
          image: arunkumarcarch/todo-web:fc7ecca10ff01d39b3fe445ebc8ff2033988e32b
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 80
          env:
            - name: API_URL
              value: "http://api-service:8000"